@font-face {
    font-family: "Dancing Script";
    src: url("./assets/font/DancingScript-VariableFont_wght.ttf")
}

@font-face {
    font-family: "Love";
    src: url("./assets/font/LOVEPARADISE-Two.ttf");
}

:root {
    --primary-color: #F1D4DB;
    --secondary-color: #EBBEC8;
    --third-color: #269EBB;
    --text-primary-color: #AF3854;
    --text-secondary-color: #961E3A;
}

.title {
    font-family: "Love";
    font-size: 32px;
    font-weight: 800;
    color: var(--text-secondary-color);
    box-sizing: border-box;
    position: absolute;
    width: 511px;
    height: 60px;
    left: calc(50% - 511px/2 - 0.5px);
    top: 30px;
    background: radial-gradient(88.26% 259.39% at 9.17% 12.86%, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.06) 100%);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(6px);
    border-radius: 36px;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.titleText {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
}

.heartVibrate {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 6px;    
}

.music {
    object-fit: cover;
     position: absolute;
     z-index: 6;
     top: 100px;
     left: 48%;
     width: 60px;
     height: 60px;
     cursor: url('./assets/img/cursor-hover.svg'), auto;
     animation: wiggle 1.5s 1s infinite alternate both;
}
html {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #EBBEC8 0%, rgba(235, 191, 243, 0) 100%) no-repeat;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.circle1 {
    position: absolute;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background-color: #E4A8B6;
    filter: blur(75px);
    left: -165px;
    top: -97px;
    z-index: 0;
}


.circle2 {
    position: absolute;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    right: 0;
    top: -147px;
    background: #EBBFF3;
    filter: blur(75px);
    z-index: -1;
}

.circle3 {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    left: 392px;
    top: -128px;
    background: rgba(228, 168, 182, 0.36);
    z-index: 1;
    filter: blur(75px);
}

.circle4 {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    left: -165px;
    top: 438px;
    background: rgba(228, 168, 182, 0.36);
    filter: blur(75px);
    z-index: 1;
}

.circle5 {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: 0;
    top: 438px;
    right: 10px;
    background: rgba(235, 191, 243, 0.43);
    filter: blur(75px);
    z-index: 1;
}

.image {
    position: absolute;
    z-index: 2;
}
.image1 {
    left: 0.3%;
    top: 2%;
    animation: 
        float 5.5s,
        balloons 4s 5.5s ease-in-out infinite;
    
}
.image2 {
    left: 5%;
    top: 2%;
    animation: 
        float 5.8s,
        balloons 4s 5.8s ease-in-out infinite;
}
.image3 {
    left: 10%;
    animation: 
        float 5.2s,
        balloons 4s 5.2s ease-in-out infinite;
    top: 2%;
}
.image7 {
    left: 16%;
    animation: 
        float 5.7s,
        balloons 4s 5.7s ease-in-out infinite;
    top: 2%;
}
.image8 {
    left: 22%;
    animation: 
        float 5.3s,
        balloons 4s 5.3s ease-in-out infinite;
    top: 2%;
}

.image4 {
    right: 22%;
    animation: 
        float 5.6s,
        balloons 4s 5.6s ease-in-out infinite;
    top: 2%;
}
.image5 {
    right: 16%;
    top: 2%;
    animation: 
        float 5.9s,
        balloons 4s 5.9s ease-in-out infinite;
}
.image6 {
    right: 10%;
    animation: 
        float 5.2s,
        balloons 4s 5.2s ease-in-out infinite;
    top: 2%;
}
.image9 {
    right: 5%;
    animation: 
        float 5.5s,
        balloons 4s 5.5s ease-in-out infinite;
    top: 2%;
}
.image10 {
    right: 0.3%;
    animation: 
        float 5.4s,
        balloons 4s 5.4s ease-in-out infinite;
    top: 2%;
}

@keyframes float {
    from {transform: translateY(100vh); opacity: 0;}
    to {transform: translateY(0vh); opacity: 1;}
}
@keyframes balloons {
    0%, 100% {transform: translateY(0) rotate(-4deg)}
    50% {transform: translateY(25px) rotate(4deg)}
}
/* gift box starts */
.gift-box {
    /* display: flex; */
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-top: 190px;
    cursor: url('./assets/img/cursor-hover.svg'), auto;
}
.box {
    position: absolute;
    margin-top: -8px;
    z-index: 4;
}

.box-lid {
    animation: move 300ms infinite alternate ease-in-out;
}

.box-lid.fallOut {
    transition: 3.5s;
    margin-left: 50%;
    animation: none;
}

.box-div {
    display: flex;
    justify-content: center;
}

.gift {
    display: none;
    object-fit: contain;
}

.gift2 {
    position: absolute;
    bottom: 50px;
    z-index: -1;
}
.gift1 {
    position: absolute;
    bottom: 50px;
    z-index: -1;
}
.gift3 {
    position: absolute;
    bottom: 50px;
}
.gift4 {
    position: absolute;
    bottom: 0px;
    z-index: -1;
    cursor: url('./assets/img/cursor-hover.svg'), auto;
}


.jump {
    display: block;
    transition: 3s;
    animation: jump 1.5s 2 alternate;
    animation-delay: 2.5s;
    z-index: 3;
}
.jump2 {
    display: block;
    transition: 3s;
    animation: jump 1.5s 2 alternate;
    animation-delay: 5.5s;
    z-index: 1;
}
.jump3 {
    display: block;
    transition: 3s;
    animation: jump 1.5s 2 alternate;
    animation-delay: 8.5s;
    z-index: 2;
}

.jump4 {
    display: block;
    transition: 3s;
    z-index: 2;
    animation: 
        jump2 1.5s 11.85s 1 alternate forwards, 
        wiggle 1.5s 13.5s infinite alternate both;
}

@keyframes move {
    0%, 7% {
        transform: translateX(0px);
    }
    15% {
        transform: translateX(-15px);
    }
    20% {
        transform: translateX(10px);
    }
    25% {
        transform: translateX(-10px);
    }
    30% {
        transform: translateX(6px);
    }
    35% {
        transform: translateX(-4px);
    }
    40%, 100% {
        transform: translateX(0px);
    }
}

@keyframes wiggle {
    0%, 7% {
        transform: rotateZ(0);
    }
    15% {
        transform: rotateZ(-15deg);
    }
    20% {
        transform: rotateZ(10deg);
    }
    25% {
        transform: rotateZ(-10deg);
    }
    30% {
        transform: rotateZ(6deg);
    }
    35% {
        transform: rotateZ(-4deg);
    }
    40%, 100% {
        transform: rotateZ(0);
    }
}

@keyframes jump {
    from {
      bottom: 100px;
    }
    to {
      bottom: 30em;
    }
  }  

  @keyframes jump2 {
    from {
      bottom: 100px;
    }
    to {
      bottom: 25em;
    }
  }  

  /* gift box ends */

/* birthday cake starts */
.birthday-cake {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    cursor: url('./assets/img/cursor-heart.svg'), auto;
    
}
.gift-cake > * {
    object-fit: cover;
    position: absolute;
    z-index: 6;
}

.cake-style {
    width: 400px;
    height: 350px;
    object-fit: cover;
}

.cake1, .cake2, .cake3, .cake4, .cake5, .cake6 {
    position: absolute;
    width: 100px;
    height: 100px;
}

.cake1 {
    bottom: 70px;
    left: 36%;
}

.cake2 {
    bottom: 80px;
    left: 42%;
}

.cake5 {
    bottom: 80px;
    left: 48.5%;
}
.cake6 {
    bottom: 80px;
    left: 30%;
}

.cake4 {
    bottom: 80px;
    right: 39%;
}

.cake3 {
    bottom: 70px;
    right: 34%;
    z-index: 5;
}


.present1, .present2{
    position: absolute;
    width: 200px;
    height: 200px;
    bottom: 150px;
}


.present1, .present3, .present4, .present5, .present6, .present7 {
    position: absolute;
    width: 150px;
    height: 150px;
    bottom: 100px;
}

.present1 {
    left: 440px;
    bottom: 190px;
}

/* left */

.present3 {
    left: 350px;
}


.present7 {
    width: 200px;
    height: 200px;
    bottom: 350px;
    left: 500px;
}


.present6 {
    left: 550px;
    bottom: 200px;
    z-index: -1;
}

/* right */
.present2 {
    right: 410px;
    bottom: 100px;
}

.present4 {
    width: 200px;
    height: 200px;
    bottom: 400px;
    right: 500px;
}


.present5 {
    width: 300px;
    height: 200px;
    right: 430px;
    z-index: -1;
    bottom: 180px;
}


.gift-cat, .bear-heart {
    position: absolute;
    width: 250px;
    height: 250px;
    z-index: 7;
    bottom: 150px;
}

.gift-cat {
    left: 100px;
}

.bear-heart {
    right: 150px;
}

.tablecloths {
    height: 37vh;
    width: 100%;
    background-image: url("./assets/img/Tablecloths.jfif");
    background-repeat: repeat;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -2;
    border-top: 2px solid rgba(228,168,182,0.7);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;;
}

/* candle starts */
.candle {
    position: absolute;
    top: 256px;
    width: 33px;
    height: 70px;
    background: white;
    border: 3px solid #673C63;
    border-bottom: 0px;
    border-radius: 3px;
    transform: translate(10%, -2%);
    transform-origin: center right;
    box-shadow: -2px 0px 0px #95c6f2 inset;
    
}

html {
    cursor: url('./assets/img/cursor-heart.svg'), auto;
}

.candle, .candle-fire, .candle-stick, .container-stick{
    cursor: url('./assets/img/cursor-match.svg'), auto;
}

.candle-stick {
    position: absolute;
    left: 50%;
    width: 5px;
    height: 17px;
    background-color: #673C63;
    border-radius: 8px;
    transform: translate(-50%, -100%);
    transform-origin: bottom center;
    cursor: url('./assets/img/cursor-match.svg'), auto;
    bottom: -16px;
}

.container-stick {
    position: absolute;
    width: 35px;
    height: 50px;
    top: -50px;
}

.candle-eyes {
    position: absolute;
    left: 50%;
    width: 35px;
    height: 30px;
    transform: translate(-50%, 0%);
}

.candle-eyes-one, .candle-eyes-two {
    position: absolute;
    display: inline-block;
    left: 30%;
    top: 20%;
    width: 5px;
    height: 5px;
    bordeR: 0px solid #673C63;
    background: #673C63;
    border-radius: 100%;
    transform: translate(-80%, 0%);
}

.time-show {
    display: block;
}
.candle-eyes-two {
    left: 70%;
}
.candle-fire {
    position: absolute;
    display: block;
    top: 221px;
    width: 0px;
    height: 0px;
    background-color: red;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    background: #FF9800;
    transform: translate(20%, -2%);
    
}
.shake-left {
    animation: shake-left 3s linear;
}

.stick-animation {
    animation: stick-animation 3s linear;
}

.changeto-lower {
    animation: changeto-lower 3s linear;
}

.changeto-greater {
    animation: changeto-greater 3s linear;
}

.dance-fire {
    animation: dance-fire 17s linear;
    animation-delay: 3s;
    
}

@keyframes shake-left {
    0%, 40% {
    transform: translate(10%, -2%);
}
    50%, 54% {
    transform: translate(10%, -2%);
}
    59% {
    transform: translate(10%, -2%);
}
    62% {
    transform: translate(10%, -2%);
}
    65% {
    transform: translate(10%, -2%);
}
    67% {
    transform: translate(10%, -2%);
}
    75% {
        transform: scale(1.05, 0.95) translate(10%, -2%);
        background: white;
        background-color: #F44336;
    }
    91% {
        transform: scale(1.05, 0.92) translate(10%, -2%);
        background: #F44336;
        background-color: #F44336;
        box-shadow: -2px 0px 0px #F44336 inset;
    }
    92% {
        transform: scale(0.95, 1.15) translate(10%, -2%);
    }
    95% {
        transform: scale(1.05, 0.95) translate(10%, -2%);
    }
    97% {
        transform: scale(1,1) translate(10%, -2%);
    }
}

@keyframes dance-fire {
    0%, 89% {
        width: 18px;
        height: 22px;
    }
    100%, 96%,90%,0%,7%,15%,23%,31%,39%,47%,55% {
        width: 18px;
        height: 22px;
        background: #FFC107;
    }
    98%,94%,3%,11%,19%,27%,35%,43%,51%,58% {
        width: 18px;
        height: 22px;
        background: #FF9800;
    }
}

@keyframes stick-animation {
    0%, 40% {
        transform: translate(-50%, -100%);
    }
    50%, 54% {
        transform: translate(-50%, -100%);
    }
    59% {
        transform: translate(-50%, -100%);
    }
    62% {
        transform: rotateZ(-15deg) translate(-50%, -100%);
    }
    65% {
        transform: rotateZ(15deg) translate(-50%, -100%);
    }
    70% {
        transform: rotateZ(-5deg) translate(-50%, -100%);
    }
    72% {
        transform: rotateZ(5deg) translate(-50%, -100%);
    }
    74%, 84% {
        transform: rotateZ(0deg) translate(-50%, -100%);
    }
    85% {
        transform: rotateZ(180deg) translate(-50%, -100%);
    }
    92% {
        transform: translate(-50%, -100%);
    }
}

@keyframes changeto-lower {
    0%, 70%, 90% {
        padding: 0;
        display: inline-block;
        border-radius: 100%;
        background: #673C63;
        border-width: 0 0 0 0;
        border: 0px solid #673C63;
        transform: translate(-90%, 0%);
    }
    71%, 89% {
        background: none;
        border-radius: 0px;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 1px;
        float: left;
        transform-origin: bottom left;
        transform: rotate(-45deg) translate(-50%, -65%);

    }
}
@keyframes changeto-greater {
    0%, 70%, 90% {
        padding: 0;
        display: inline-block;
        border-radius: 100%;
        background: #673C63;
        border-width: 0 0 0 0;
        border: 0px solid #673C63;
    }
    71%, 89% {
        background: none;
        border-radius: 0px;
        border-width: 2px 0 0 2px;
        display: inline-block;
        padding: 1px;
        float: left;
        transform-origin: bottom left;
        transform: rotate(-45deg) ;

    }
}
/* candle ends */
/* birthday cake ends */

/* button starts */

.cta {
    text-decoration: none;
    color: var(--text-primary-color);
    cursor: url('./assets/img/cursor-hover.svg'), auto;
    
}
.button-container {
    display: none;
    position: absolute;
    bottom: 55px;
}
.cta-show {
    display: block;
    transition: 5s;
}

.cta {
    position: relative;
    margin: auto;
    padding: 19px 22px;
    transition: all .2s ease;
}
.cta::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: rgba(255, 171, 155, .5);
    width: 56px;
    height: 56px;
    border-radius: 28px;
    transition: all .3s ease;
}

.button-span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: .25em;
    text-transform: uppercase;
    vertical-align: middle;
}

.button-svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
    stroke: var(--text-primary-color);
    transform: translateX(-5px);
    transition: all .3s ease;
}

.cta:hover svg {
    transform: translateX(0);
}
.cta:hover:active {
    transform: scale(.96);
}

.cta:hover::before {
    width: 100%;
    background: rgba(255, 171, 155, 1);
    transform: translateX(0);
}
/* button ends */

/* effect appear */
.appear {
    display: flex;
    animation: appear 3s backwards;
    transition: all 500ms ease-in-out;
    
}
/* effect disappear */
.disappear {
    animation: disappear 3s backwards;
    transition: all 500ms ease-in-out;
}

.disappear2 {
    display: none;
    animation: disappear 3s backwards;
    transition: all 500ms ease-in-out;
    
}

.appear2 {
    display: block;
    animation: appear 3s backwards;
    transition: all 500ms ease-in-out;
    
}


@keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
}


@keyframes disappear {
    from {opacity: 1;}
    to {opacity: 0;}
}

/* birthday-card starts */
.card-container {
    perspective: 1000px;
    cursor: url('./assets/img/cursor-hover.svg'), auto;    
}
.card {
    width: 500px;
    height: 440px;
    position: absolute;
    z-index: 5;
    top: 250px;
    left: calc(50% - 500px/2 - 0.5px);
    transition: 2s;
    transform-style: preserve-3d;
}

.card:hover {
    transform: rotateY(180deg);

}
.birthday-card {
    width: 500px;
    height: 400px;
}

.outside, .inside {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    text-align: center;
    
}

.outside {
    position: absolute;
    backface-visibility: hidden;
}

.inside {
    background-image: url(./assets/img/Background-Mail.svg);
    background-repeat: no-repeat;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    text-align: center;
    font-family: "Dancing Script";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    
}
.card-text-container {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    margin-left: 50px;
    margin-right: 50px;
}
.inside h3 {
    font-size: 1.8rem;
    font-weight: bold;
}

.card-text {
    text-align: center;
    font-size: 1.2rem;
}

.icon {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}


.card-title-text {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 24px;
    font-weight: bold;
}

.card-img {
    height: 200px;
    object-fit:scale-down;
}


/* birthday-card ends */
/* video background rose starts */
#myBackgroundRose {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;
    opacity: 0.5;
}

/* video background rose ends */

@media screen and (max-width: 1400px) {
    .image {
        width: 200px;
        height: 200px;
    }
        
    .image1 {
        left: 0%;
    }
    .image2 {
        left: 4%;
    }
    .image3 {
        left: 9%;
    }
    .image7 {
        left: 14%;
    }
    .image8 {
        left: 19%;
    }

    .image4 {
        right: 19%;
    }
    .image5 {
        right: 14%;
    }
    .image6 {
        right: 9%;
    }
    .image9 {
        right: 4%;
    }
    .image10 {
        right: 0%;
    }

    .button-container {
        bottom: 50px;
    }
    gift3, gift1, gift4 {
        width: 150px;
        height: 150px;
    }
    .gift2 {
        width: 240px;
        height: 240px;
    }
}

@media screen and (max-width: 1340px) {
    .image {
        width: 180px;
        height: 180px;
    }
    .image8 {
        left: 18%;
    }

    .image4 {
        right: 18%;
    }
}


@media screen and (max-width: 1240px) {
    .image {
        width: 160px;
        height: 160px;
    }
}


@media screen and (max-width: 1180px) {
    .image {
        width: 140px;
        height: 140px;
    }

    .title {
        width: 480px;
        height: 60px;
        font-size: 28px;
        left: calc(50% - 480px/2 - 0.5px);
    }

}


@media screen and (max-width: 1140px) {
    .image {
        width: 120px;
        height: 120px;
    }
        
    .image1 {
        left: 0%;
    }
    .image2 {
        left: 4%;
    }
    .image3 {
        left: 7.5%;
    }
    .image7 {
        left: 12%;
    }
    .image8 {
        left: 16%;
    }

    .image4 {
        right: 16%;
    }
    .image5 {
        right: 12%;
    }
    .image6 {
        right: 7.5%;
    }
    .image9 {
        right: 4%;
    }
    .image10 {
        right: 0%;
    }
}


@media screen and (max-width: 1000px) {
    .image {
        width: 100px;
        height: 100px;
    }
}